body {
    background-repeat: space;
    background-size: cover;
    background-color: rgb(232, 224, 220);
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
margin: auto;
height:500px;
}
/* 
.carousel-inner {
    margin-top: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    height: 480px;
}
*/
.carousel-caption {
    top: 21em;
    color: darkred;
    font-family: Aclonica;
}
/* padding-left: 1000px; */

/* 
p#home{
    padding-top: 20px;
    text-align : right;
    margin-right: 100px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: purple ;
    font-weight: 500;
    font-size: 30px;
} 

.navbar-default .navbar-nav > li > a, a.page {
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{ */
.navbar-default .navbar-nav > li > a {
    color: crimson;
    font-size: 25px;
    font-family: Philosopher;
    font-weight: 600;
}
/* ABOUT*/
.bg-primary {
    padding-top: 20px;
    background-color: black;
    height: 540px;
}

p.text-faded {
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}
/*Skills */
section#skills.secPad.white {
    padding-top: 20px;
    height: 540px;
    background-color: #00004C;
}

div.col-lg-4.col-sm-6.col-xs-6.skilltitle {
    font-size: 17px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Experience */
section#experience.secPad {
    padding-top: 20px;
    height: 540px;
    background-color: cornsilk;
}

div.service-item {
    text-align:center;
}
h6 {
    color: firebrick;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div#ex1, div#ex2, div#ex3 {
    color: saddlebrown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* PROJECTS*/

section#projects.no-padding {
    background-color: darkred;
    padding-top: 20px;
    height: 580px;
}

img.img-rounded {
    border: double 3px black;
    border-radius: 15px 50px 30px;
}

section#contact {
    height: 400px;
    background-color: #EED2EE;
    background-image: url('../Images/contact-me.png');
    background-position:center top 20px;
    background-repeat:no-repeat;
}
div.col-lg-4.col-sm-6.text-center p{
  text-align: center; 
  
}